<div class="container-fluid advantages_2">
    <div class="advantages_2__bg">
        <div class="container advantages_2__items">
            <div class="advantages_2__item">
                <div><img src="{{ asset('images/adv2-icon1.png') }}" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>собственная <br>фабрика мебели</h3>
                    <p>Возьмём на себя реализацию
                        проекта и освободим ваше
                        время </p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="{{ asset('images/adv2-icon2.png') }}" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>ОПЫТ РАБОТЫ  <br>10 ЛЕТ</h3>
                    <p>За плечами наших замерщиков и дизайнеров более 1500 реализованных проектов </p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="{{ asset('images/adv2-icon3.png') }}" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>ГАРАНТИЯ НА МЕБЕЛЬ <br>2 ГОДА </h3>
                    <p>Качественные материалы, точные размеры - основа надежности и долговечности нашей мебели </p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="{{ asset('images/adv2-icon3.png') }}" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>ТОЧНО В СРОК</h3>
                    <p>Гарантированные сроки производства мебели, мы ценим Ваше время</p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="{{ asset('images/adv2-icon5.png') }}" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>ВЫГОДНЫЕ ЦЕНЫ <br>ОТ ПРОИЗВОДИТЕЛЯ </h3>
                    <p>У вас есть чертеж или картинка? Озвучим стоимость и предложим лучшее решение </p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="{{ asset('images/adv2-icon1.png') }}" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>МАКСИМАЛЬНЫЙ КОМФОРТ</h3>
                    <p>Заботимся о каждом клиенте и заказе, чтобы вы всегда оставались довольны </p>
                </div>
            </div>
        </div>
    </div>

</div>