<div class="container catalog-menu__block">
    <div class="catalog-menu__block_text">
        <hr data-aos="fade-down" data-aos-duration="2000">
        <h2 data-aos="fade-down" data-aos-duration="2000">КАТАЛОГ МЕБЕЛИ <br>НА ЗАКАЗ</h2>

        <div class="catalog-menu__block_media-mobile">
            <div uk-slider class="uk-slider-catalog-menu">
                <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
                    <li><div class="catalog-menu__block_item">
                            <a href="#" class="catalog-menu__block_link-img">
                                <img width="260" src="{{ asset('images/stolyarnoe-menu-img_vertical.jpg') }}" alt="">
                            </a>
                            <a href="/stoljarnoe-proizvodstvo/" class="catalog-menu__block_link">
                                столярное производство
                            </a>
                        </div></li>
                    <li><div class="catalog-menu__block_item">
                            <a href="#" class="catalog-menu__block_link-img">
                                <img width="260" src="{{ asset('images/meblirovka-menu-img.jpg') }}" alt="">
                            </a>
                            <a href="#" class="catalog-menu__block_link">
                                мебелировка под ключ
                            </a>
                        </div></li>
                    <li><div class="catalog-menu__block_item">
                            <a href="#" class="catalog-menu__block_link-img">
                                <img width="260" src="{{ asset('images/design-project-menu-img.jpg') }}" alt="">
                            </a>
                            <a href="#" class="catalog-menu__block_link">
                                дизайн интерьеров
                            </a>
                        </div></li>
                </ul>
                <div class="uk-visible">
                    <a class="uk-position-center-left" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>

        </div>

        <p data-aos="fade-down" data-aos-duration="2000" class="catalog-menu__block_text-text">Просмотрите наш каталог –
            здесь выставлены примеры
            популярных моделей.
            Выбирайте понравившуюся
            и присылайте нам – сделаем
            по вашим индивидуальным
            размерам - по запросу
            заменим материал, цвет,
            конструктив или фурнитуру.</p>

        <div data-aos="fade-down" data-aos-duration="2000" class="button-with-circle">
            <div class="circle"></div>
            <button class="catalog-menu__btn">Консультация</button>
        </div>
        <div data-aos="fade-down" data-aos-duration="2000" class="button-with-circle">
            <div class="circle"></div>
            <button class="catalog-menu__btn">Вызвать замерщика</button>
        </div>
    </div>
    <div class="catalog-menu__block_items">
        <div class="catalog-menu__block_item hvr-wobble-horizontal">
            <a href="/stoljarnoe-proizvodstvo/" class="catalog-menu__block_link-img">
                <img data-aos="flip-left" data-aos-duration="1500" src="{{ asset('images/stolyarnoe-menu-img_vertical.jpg') }}" alt="">
            </a>
            <a href="#" class="catalog-menu__block_link">
                столярное производство
            </a>
        </div>
        <div class="catalog-menu__block_item hvr-wobble-horizontal">
            <a href="#" class="catalog-menu__block_link">
                мебелировка под ключ
            </a>
            <a href="#" class="catalog-menu__block_link-img">
                <img data-aos="flip-right" data-aos-duration="1500"  src="{{ asset('images/meblirovka-menu-img.jpg') }}" alt="">
            </a>
        </div>
        <div class="catalog-menu__block_item hvr-wobble-horizontal">
            <a href="#" class="catalog-menu__block_link-img">
                <img data-aos="flip-left" data-aos-duration="1500" src="{{ asset('images/design-project-menu-img.jpg') }}" alt="">
            </a>
            <a href="#" class="catalog-menu__block_link">
                дизайн интерьеров
            </a>
        </div>
    </div>
</div>