<div class="container catalog-prod__block">
{% if services is defined and services is not empty %}


        <div class="catalog-prod__block_menu">
            <div class="catalog-prod__block_menu_content">
                <hr>
                <p class="catalog-prod__block_menu_title">
                    {{ sectionName }}
                </p>
                <div class="buttons-group__desktop">
                    <div class="button-with-circle">
                        <div class="circle"></div>
                        <button class="catalog-menu__btn"><a href="/{{ categoryPath }}"> Перейти в раздел</a></button>
                    </div>
                    <div class="button-with-circle">
                        <div class="circle"></div>
                        <button class="catalog-menu__btn">Консультация</button>
                    </div>
                    <div class="button-with-circle">
                        <div class="circle"></div>
                        <button class="catalog-menu__btn">Вызвать замерщика</button>
                    </div>
                </div>

            </div>

            <div class="catalog-prod__block_menu_slider">
                <div uk-slider>

                    <div class="uk-position-relative">
                        <div class="uk-slider-container uk-light">
                            <ul class="uk-slider-items {% if services|length < 4 %} uk-child-width-1-{{ services|length }}@l {% else %} uk-child-width-1-4@l {% endif %}
                            uk-child-width-1-2@m uk-child-width-1-1@s">
                                {% for service in services %}
                                    <li>
                                        <div class="black-linear-bg"></div>
                                    <div class="catalog-prod__slider_link" href="#">
                                        {% if service.seoImg is null %}
                                            <img  data-aos="flip-up" data-aos-duration="1000"  style="width: 250px" src="{{ asset('images/catalog-prod_1_1.jpg')}}" alt="">
                                        {% else %}
                                            <img  data-aos="flip-up" data-aos-duration="1000"  style="width: 250px" src="/images/seo-text-images/{{ service.seoImg }}" alt="{{ service.h1 }}">
                                        {% endif %}
                                        <div class="catalog-prod__slider_img-title">
                                            <hr>
                                            <span><a href="/{{ service.alias }}">{{ service.h1 }}</a> </span>
                                        </div>
                                    </div>
                                </li>
                               {% endfor %}
                            </ul>
                        </div>


                        <div class="uk-visible">
                            <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                        </div>

                    </div>



                </div>
                <div class="buttons-group__mobile">
                    <div class="button-with-circle">
                        <div class="circle"></div>
                        <button class="catalog-menu__btn"><a href="/{{ categoryPath }}"> Перейти в раздел</a></button>
                    </div>
                    <div class="button-with-circle">
                        <div class="circle"></div>
                        <button class="catalog-menu__btn">Консультация</button>
                    </div>
                    <div class="button-with-circle">
                        <div class="circle"></div>
                        <button class="catalog-menu__btn">Вызвать замерщика</button>
                    </div>
                </div>
            </div>
        </div>




{% endif %}

</div>