<!--Main menu-->
<nav class="navbar navbar-expand-lg navbar-light top-menu ">
    <div class="container align-items-md-end align-items-sm-center">
        <a class="navbar-brand header-logo header-logo-full" href="/">
            <img src="{{ asset('images/logo.png')}}" alt="">
        </a>
        <a class="navbar-brand header-logo header-logo-image" href="/">
            <img src="{{ asset('images/logo-fixed.png')}}" alt="">
        </a>
        <div class="callback-991">
            <div class="callback__phone">
                <a class="" href="#">+7(777)777-77-77</a>
            </div>
            <div class="callback__button">
                <a class="" href="#">Заказать звонок</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Мобильное меню-->
        <div class="collapse navbar-collapse" id="navbarMobile">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/stoljarnoe-proizvodstvo/">
                        Столярное производство
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Меблировка
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Дизайн-проект
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">
                        О компании
                    </a>
                </li>
                <a class="nav-link" href="#">Контакты</a>


            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('images/search-icon.png') }}" alt="Поиск">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <a class="nav-link" href="#"><img src="{{ asset('images/cart-icon.png') }}" alt="Корзина"></a>
            </ul>
        </div>
        <!--Мобильное меню конец-->

        <!--Обычное меню-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <!--Extra menu burger-->
                        <a href="#" class="extra-menu nav-link">
                            <!--<i class="fas fa-bars"></i>-->
                            <img src="{{ asset('images/burger.png')}}">
                        </a>
                </li>


                {% for key, menuItem in topMenu %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/{{ menuItem.url }}" id="navbarDropdown" role="button"  aria-expanded="false">
                        {% if menuItem.menuName is null %}
                            {{ key }}
                        {% else %}
                            {{ menuItem.menuName }}
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-hover dropdown-menu-hover__first" aria-labelledby="navbarDropdown">
                    {% for sectionKey, section in menuItem.sections %}
                        <div class="drop__flex">

                            <ul class="drop__ul">
                                {% if section.menuName is null %}
                                    <li><strong>{{ sectionKey }}</strong></li>
                                {% else %}
                                    <li><strong>{{ section.menuName }}</strong></li>
                                {% endif %}
                                {% for subcategoryKey, subcategory in section.subcategory %}
                                    {% if(subcategory.menuName is null) %}
                                        <li><a href="/{{ subcategory.url }}" class="drop__link">{{ subcategoryKey }}</a></li>
                                    {% else %}
                                        <li><a href="/{{ subcategory.url }}" class="drop__link">{{ subcategory.menuName }}</a></li>
                                    {% endif %}

                                {% endfor %}

                            </ul>
                        </div>
                        {% endfor %}
                        <div class="drop__flex">
                            <div class="drop__image">
                                {% if menuItem.img is not null %}
                                <img src="/images/menu_images/{{ menuItem.img }}" width="260" alt="{{ key }}">
                                <strong>{{ key }}</strong>
                                {% endif %}

                            </div>
                        </div>

                    </ul>
                </li>
                {% endfor %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  aria-expanded="false">
                        Меблировка
                    </a>
                    <ul class="dropdown-menu dropdown-menu-hover dropdown-menu-hover__second" aria-labelledby="navbarDropdown">

                        <div class="drop__flex">

                            <ul class="drop__ul">
                                <li><strong>Для физ. лиц</strong></li>
                                <li><a href="#" class="drop__link">Квартиры</a></li>
                                <li><a href="#" class="drop__link">Коттеджа</a></li>
                                <li><a href="#" class="drop__link">Студии</a></li>
                                <li><a href="#" class="drop__link">Дома</a></li>
                                <li><a href="#" class="drop__link">Дачи</a></li>
                                <li><a href="#" class="drop__link">Комнаты</a></li>
                                <li><a href="#" class="drop__link">Прихожей</a></li>
                                <li><a href="#" class="drop__link">Гостиной</a></li>
                                <li><a href="#" class="drop__link">Спальни</a></li>
                                <li><a href="#" class="drop__link">Кухни	</a></li>
                                <li><a href="#" class="drop__link">Ванной</a></li>
                            </ul>
                        </div>
                        <div class="drop__flex">
                            <ul class="drop__ul">
                                <li><strong>Для юр. лиц</strong></li>
                                <li><a href="#" class="drop__link">Бара</a></li>
                                <li><a href="#" class="drop__link">Ресторана</a></li>
                                <li><a href="#" class="drop__link">Кафе</a></li>
                                <li><a href="#" class="drop__link">Магазина</a></li>
                                <li><a href="#" class="drop__link">Бутика</a></li>
                                <li><a href="#" class="drop__link">Гостиницы</a></li>
                                <li><a href="#" class="drop__link">Офиса	</a></li>
                                <li><a href="#" class="drop__link">Помещения	</a></li>
                                <li><a href="#" class="drop__link">Ресепшн</a></li>
                                <li><a href="#" class="drop__link">Переговорной	</a></li>
                                <li><a href="#" class="drop__link">Кабинета</a></li>
                                <li><a href="#" class="drop__link">Опенспейса</a></li>
                            </ul>
                        </div>
                        <div class="drop__flex">
                            <div class="drop__image">
                                <img src="{{ asset('images/stolyarnoe-menu-img.jpg')}}" width="260" alt="Меблировка">
                                <strong>Меблировка</strong>
                            </div>
                        </div>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-expanded="false">
                        О компании
                    </a>
                    <ul class="dropdown-menu dropdown-menu-hover dropdown-menu-hover__four" aria-labelledby="navbarDropdown">
                        <div class="drop__flex drop__flex_image-block">
                            <div class="drop__image-block d-flex flex-column">
                                <div class="drop__video">
                                    <video controls width="386" height="232"  name="media" poster="images/video-bg.jpg">
                                        <source src="video/video-about.mp4?autoplay=false" type="video/mp4">
                                    </video>
                                </div>

                            </div>
                        </div>
                        <div class="drop__flex drop__flex_text">
                            <div class="drop__text">
                                <hr>
                                <h3>О нас</h3>
                                <p>Компания ABUGERA Workshop основана
                                    в 2015 году, и сегодня у нас работает уже
                                    более 10 человек: столяры, маляр, технолог-
                                    конструктор, монтажники, водитель
                                    и руководитель производства. Мы сильно
                                    выросли за последний год, но за быстрым
                                    ростом очень стараемся сохранить
                                    высокое качество нашей продукции.</p>

                                <p>Основная наша ценность – это заботливое
                                    и очень внимательное отношение
                                    к заказчику, к его идеям и замыслам,
                                    ну и конечно, к готовому продукту.</p>

                                <p>Цель нашей компании – создавать продукт,
                                    который будет радовать своего владельца:
                                    качеством исполнения, надежностью
                                    использования, долгим сроком службы.
                                    Мы ждем Ваших проектов и всегда
                                    готовы к открытому и плодотворному
                                    сотрудничеству. До встречи!</p>
                            </div>
                        </div>
                    </ul>
                </li>
                <a class="nav-link" href="#">Контакты</a>

                <div class="callback">
                    <div class="callback__phone">
                        <a class="" href="#">+7(777)777-77-77</a>
                    </div>
                    <div class="callback__button">
                        <a class="" href="#">Заказать звонок</a>
                    </div>
                </div>


            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle search__icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('images/search-icon.png') }}" alt="Поиск">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <a class="nav-link" href="#"><img src="{{ asset('images/cart-icon.png') }}" alt="Корзина"></a>

            </ul>
        </div>
        <!--Обычное меню конец-->

    </div>
</nav>

