{% if mainPage is defined %}
    <section class="seo__text container-fluid">
        <div class="seo-block">
            <div class="container">
                <div class="row">
                    <div class="seo-left col-md-6 ">
                        <h2>Производство мебели</h2>
                        <p>Более 10 лет мастера фабрики ABUGERA Workshop занимаются созданием мебели первоклассного качества для оснащения жилых, муниципальных, коммерческих помещений. Производство мебели осуществляется из высококачественных материалов, первоклассного сырья на оснащенной новейшим оборудованием собственной площадке.</p>
                        <h3>Какую мебель производят в компании</h3>
                        <p>Клиенты компании по производству мебели могут заказать разнообразные предметы интерьера, в том числе:</p>

                    </div>

                        <div class="seo-right col-md-6 d-flex justify-content-center ">
                            <img class="seo-block__img" src="/images/seo-text-images/stolyarnoe-seo.jpg" alt="*">
                        </div>


                    <div class="seo-left col-12">
                        <div class="seo-text-none">
                            <ul>
                                <li class="li__sign">кухни;</li>
                                <li class="li__sign">кухни;</li>
                                <li class="li__sign">прихожие;</li>
                                <li class="li__sign">корпусную мебель;</li>
                                <li class="li__sign">все для детских комнат;</li>
                                <li class="li__sign">столы и шкафы в офис;</li>
                                <li class="li__sign">мебель для оснащения детских дошкольных и других учреждений;</li>
                                <li class="li__sign">корпусные шкафы и стеллажи.</li>
                            </ul>
                            <p>Ассортимент изделий практически не ограничен. В каждом отдельном случае детали заказа обсуждаются индивидуально. Предметы интерьера обходятся недорого. Смета затрат составляется до того, как заказ передается на производство.</p>
                            <p class="vazno">изготовленная на заказ мебель превосходно выполняет возложенные на нее функции. Созданная по согласованным с заказчиком параметрам, она идеально встает на отведенное для нее место.</p>
                            <h3>Преимущества для клиентов</h3>
                            <p>Клиентам компании по производству мебели доступны следующие возможности:</p>
                            <ul>
                                <li class="li__sign">покупка сочетающихся с интерьером изделий по ценам производителя;</li>
                                <li class="li__sign">выбор стиля и материала;</li>
                                <li class="li__sign">индивидуальный подход;</li>
                                <li class="li__sign">доступная стоимость;</li>
                                <li class="li__sign">соблюдение озвученных в момент оформления заказа сроков изготовления;</li>
                                <li class="li__sign">первоклассное качество, функциональность и длительный срок службы предметов интерьера.</li>
                            </ul>
                            <p>Производство мебели — сложный, непрерывный процесс. Начинается он с разработки дизайна, выбора материалов и фурнитуры. Когда эти вопросы решены, заказ передается на производственную линию.</p>
                            <p class="vazno">на производстве мебели работают мастера с многолетним опытом. Это означает, что результат работ полностью оправдывает ожидания заказчика.</p>
                            <p>Чтобы заказать мебель по индивидуальным параметрам, звоните на фабрику мебели ABUGERA по указанному на сайте контактному телефону или оставляйте заявку на обратный звонок. Есть услуга по доставке в Москве.</p>
                        </div>

                            {{ include ('elements/popup/three_buttons_block.html.twig', {'readMore': true}) }}

                    </div>

                </div>
            </div>
        </div>
    </section>

{% else %}
    {% if page.seoText is not empty and page.seoText is not null %}
    <section class="seo__text container-fluid">
        <div class="seo-block">
            <div class="container">
                <div class="row">
                    <div class="seo-left {% if page.seoImg is not null %}col-md-6 {% else %}col-md-12{% endif %}">
                        {{ page.seoText|raw }}
                    </div>
                    {% if page.seoImg is not null %}
                    <div class="seo-right col-md-6 d-flex justify-content-center ">
                        <img class="seo-block__img" src="/images/seo-text-images/{{ page.seoImg }}" alt="*">
                    </div>
                    {% endif %}

                    <div class="seo-left col-12">
                        {% if page.seoTextHidden is not null %}
                            <div class="seo-text-none">
                                {{ page.seoTextHidden|raw }}
                            </div>
                        {% endif %}
                        {#<div class="seo-btn mbtn">Читать далее</div>#}
                        {% if page.seoTextHidden is not null %}
                            {{ include ('elements/popup/three_buttons_block.html.twig', {'readMore': true}) }}
                        {% else %}
                            {{ include ('elements/popup/three_buttons_block.html.twig', {'readMore': false}) }}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>

        {% else %}
        {# Убрать на prod #}
            <section class="seo__text container-fluid">
                <div class="seo-block">
                    <div class="container">
                        <div class="row">
                            <div class="seo-left {% if page.seoImg is not null %}col-md-6 {% else %}col-md-12{% endif %}">
                                <h2>Текст заглушка просто для демонстрации на стр., где текст не заполнен через админку. На продакшн уберем.</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                            {% if page.seoImg is not null %}
                                <div class="seo-right col-md-6 d-flex justify-content-center ">
                                    <img class="seo-block__img" src="/images/seo-text-images/{{ page.seoImg }}" alt="*">
                                </div>
                            {% endif %}

                            <div class="seo-left col-12">
                                <div class="seo-text-none">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                                {#<div class="seo-btn mbtn">Читать далее</div>#}
                                {{ include ('elements/popup/three_buttons_block.html.twig') }}
                            </div>

                        </div>
                    </div>
                </div>
            </section>
    {% endif %}

{% endif %}